<div>

    <div>
        <table class="table" style="border: 1px solid black; border-collapse: collapse; width: 100%">
            <thead>
            <tr>
                <th>Server</th>
                <th>Description</th>
                <th>Assigned</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="server in vm.data">
                <td>
                    {{server.name}}
                </td>
                <td>
                    {{server.description}}
                </td>
                <td>
                    {{server.approval.description.user}}
                </td>
            </tr>

            </tbody>
        </table>

    </div>
    <div>
<br/>
        <hr/>
        <h2>This is the raw data for dev </h2>
        <p>{{vm.data}}</p>

    </div>

</div>