<div>

    <div>
        <h2 style="text-align: center">{{vm.data[0].month.text}}</h2>
    </div>




    <div>
        <table class="table" style="border: 1px solid black; border-collapse: collapse; width: 100%">
            <thead>
            <tr>
                <th>Server</th>
                <th>Description</th>
                <th ng-repeat="day in vm.data[0].month.days">{{day.idx}}</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="server in vm.data">
                <td>
                    {{server.name}}
                </td>
                <td>
                    {{server.description}}
                </td>

                <th ng-repeat="day in server.month.days" ng-click="vm.onClickDay(server, day)">
                <div ng-style="day.approval && {'background-color':'pink'} ">
                    {{day.approval}}
                </div>
                </th>
            </tr>

            </tbody>
        </table>

    </div>
    <div>
<br/>
        <hr/>
        <h2>This is the raw data for dev </h2>
        <p>{{vm.data}}</p>

    </div>

</div>