version: '2'

services:
  server-service:
    build: server-service
    image: team1/server-service
    container_name: team1-server-service
    links:
      - messaging-service
    environment:
      ADVERTISED_HOST: ${SERVER_SERVICE_LOCAL_IP}
    ports:
      - 8091:8091

  messaging-service:
    build: messaging-service
    image: team1/messaging-service
    container_name: team1-messaging-service
    ports:
      - 2181:2181
      - 9092:9092

  approval-service:
    build: approval-service
    image: team1/approval-service
    container_name: team1-approval-service
    links:
      - messaging-service
    ports:
      - 8092:8092

  reservation-service:
    build: reservation-service
    image: team1/reservation-service
    container_name: team1-reservation-service
    links:
      - server-service
      - approval-service
    environment:
      SERVER_SERVICE: "http://server-service:8091"
      APPROVAL_SERVICE: "http://approval-service:8092"
    ports:
      - 8093:8093

  reservation-app:
    build: reservation-app
    image: team1/reservation-app
    container_name: team1-reservation-app
    links:
      - messaging-service
      - reservation-service
      - server-service
    environment:
      RESERVATION_SERVICE: "http://reservation-service:8092"
      SERVER_SERVICE: "http://server-service:8091"
    ports:
      - 8090:8090